* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a {
  text-decoration: none;
}

.topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topNavBar-inner {
  margin: 0 120px;
  padding: 10px 15px;
}

.topNavBar .log {
  display: block;
  margin-top: 15px;
  padding: 10px 0;
  float: left;
  font-family: "Microsoft YaHei UI";
  font-weight: bolder;
}

.topNavBar .log .rs{
  font-size: 28px;
  color: #E8676B;
}
.topNavBar .log .card{
  padding-left: 2px;
  font-size: 28px;
  color: #9A9DA2;
}
.topNavBar nav {
}

.topNavBar nav ul a {
  display: block;
  padding: 12px 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  color: #c1c3c6;
  font-weight: bold;
}
.topNavBar nav ul li {
  margin: 15px 18px 0 18px; 
  list-style: none;
  float: right;
}

.topNavBar nav ul a:hover{
  border-bottom: 3px solid #E8676B;
}

.banner {
  height: 540px;
  background-image: url(pictus/background.png);
  background-size: cover;
  background-position: 0 -170px;
}

.banner .mask {
  height: 540px;
  background-color: rgba(0, 0, 0, 0.6);
}

.usercard {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: -350px; 
  background-color: #fff;
}

.usercard .picture {
  float: left;
  margin-left: 50px;
  margin-top: 57px; 
  margin-bottom: 44px;
}

.usercard .text {
  float: left;
  margin-left: 64px;
  margin-top: 57px;
  width: 470px;
}

.usercard .text .welcom {
  display: inline-block;
  color: white;
  font-weight: bold;
  background-color: #E8676B;
  padding: 4px 15px;
  line-height: 22px;
  position: relative;
}

.usercard .text .welcom .triangle {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #E8676B;
  border-right: 10px solid transparent;
  position: absolute;
  left: 4px;
  top: 100%;
}

.usercard .text h1 {
  margin-top: 27px;
}

.usercard .text p {
  margin-top: 8px;
  margin-bottom: 26px;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
  margin-bottom: 18px;
}

.usercard .text dl dt,
 .usercard .text dl dd {
  float: left;
  padding: 8px 0;
}

.usercard .text dl dt{
  width: 30%;
  font-weight: bold;
}

.usercard .text dl dd{
  width: 70%;
  color: #9da0a7;
}

.usercard footer {
  padding: 20px 0;
  background-color: #E8676B;
  text-align: center;
}

.usercard footer a {
  display: inline-block;
  width: 45px;
  padding: 10px 0;
  margin: 0 15px;
  border-radius: 50%;
  text-align: center;
}

.usercard footer a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.icon {
  width: 25px;
  height: 25px;
  fill: white;
  vertical-align: top;
}